* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
}

.app-container.light {
  background-color: #fff;
  color: #212121;
}

.app-container.dark {
  background-color: #121212;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  border-bottom: solid 1px black;
}

nav a {
  padding: 0 16px;
}

.mode-icon.light {
  fill: #fff;
}
